<?xml version="1.0" encoding="UTF-8"?>

<configuration status="info">

    <Appenders>
        <!-- 콜솔 -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd hh:mm:ss} %5p [%c] %m%n"/>
        </Console>
    </Appenders>

    <loggers>
        <root level="info" additivity="true">
            <AppenderRef ref="console"/>
        </root>
        <Logger level="debug" name="com.samsungsds.msa">
            <AppenderRef ref="console" />
        </Logger>
    </loggers>


</configuration>
